* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    border-radius:10px;
    border-width: 0;
  }
body{
    background: linear-gradient(to right, purple, pink);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px 5%;

}
.wrapper{
  background-color:rgb(221, 220, 220);
  width: 500px;
  margin: 25px auto 0;
  padding: 20px;
  border-radius: 20px;
}
.wrapper h2{
  color:rgb(82, 9, 82);
  font-size: 25px;
  padding: 10px;
  margin-bottom: 25px;
  text-align: center;
}
.wrapper h4{
  color: rgb(82, 9, 82);
  text-align: left;
  margin-bottom: 10px;
}

form{
  margin-left: 25px;
}

.input-group i{
  text-align: center;
  color:rgb(82, 9, 82);
  position: relative;
  bottom: 1px;
  padding: 7px 8px;

}

.input-group span i{
  color: black;
  position: relative;
  left:0;
  top:0;
  margin-left: -20px;
  margin-bottom: 10px;
  font-size: 18px;
}
.input-box input{
  height:2em;
  border-radius: 1em;
  width: 31em;
  padding-left: 1em;
  
}
.input-box .dob{
  display:inline-flex;
  width: 5em;
  margin-bottom: 10px;
}
.input-box .name{
  margin-bottom: 10px;
}
.icon{
  position: relative;
  right:2.5px;
  margin: 0em -2em 0em -2em;
  color:rgb(82, 9, 82);
}
.fa-envelope{
  position: relative;
  right:2px;
  margin: 0em -2em 0em -2em;
  color:rgb(82, 9, 82);
}

.input-box .radio{
  display: flex;
  flex-direction: row;
}

.input-box input[type="radio"]{
  display: inline-flex;
  margin: 0em -11em 0em -11em;
  transform: scale(0.6);
}


div button{
  background-color:rgb(82, 9, 82);
  font-size: 16px;
  padding: 10px 24px;
  color: whitesmoke;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width:768px){
  .wrapper{
    padding: 10px;
    border-radius: 5px;
    width:80%;
    margin:10px auto;
  }

  .input-box input{
    height:2em;
    border-radius: 1em;
    width: 20em;
    padding-left: 2em;
    
  }
  form{
    margin-left:0px;
    
  }

  .input-box input[type="radio"]{
    display: inline-flex;
    margin: 0em -8em 0em -9em;
    transform: scale(0.6);
  }
}
